*{
    box-sizing: border-box;
}
body{
    background-image: url("bruh.png");
    background-size: 100% ;
}
.left{
    width: 20%;
    font-family: sans-serif;
    font-size: 30px;
    float: left;
}
.centre{
    width: 60%;
    font-size: 32px;
    font-weight: bolder;
    float: left;
}
.shop{
    text-align: center;
    font-size: 18px;
    padding-bottom: 18px;
    color: #e0dee5;
    float: right;
}
.right{
    width: 20%;
    float: right;
}
#mps{
    font-size: 32px;
    font-weight: bolder;
}
#dbl img:hover{
    transform: scale(1.01);
}
#dbl img:active{
    transform: scale(0.98);
}

.left img:hover{
    transform: scale(1.01);
}
.left img:active{
    transform: scale(0.99);
}
.in{
    border: 3px solid black;
    padding: 5px;
    background-color:#6e1316;
    width: 220px;
}
.nadpis{
    font-size: 24px;
}
.rghtcnt{
    background-color: #6e1316;
    border: 3px solid black;
    height: 100px;
}
.main{
}
